.canvas-container {
    background-color: rgba(245, 222, 179, 0.973);
    padding: 2em;
    border-radius: 30px;
    box-shadow:
    rgba(22, 31, 39, 0.42) 0px 60px 123px -25px,
    rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
    border: 5px solid black;
     border-radius: 30px;
     transition: transform 0.8s;
}

.canvas-container-3d {
    transform:
    perspective(55em)
    rotateX(35deg);

    transition: transform 0.8s;
}

.editor {
    padding: 20px;
    justify-content: center;
}

.editor .user-editor {
    border-radius: 40px;
    padding: 2em;
    background-color: #a3242b;
    margin-block-start: 1.4rem;
}

.editor .user-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 19px;
    width: min-content;
    justify-items: end;
    align-items: center;
}

.editor .user-editor > *:not(:first-child, span) {
    margin-block-start: 20px;
}

.editor .user-editor span {
    font-size: 0.6rem;
    margin-block-start: 3px;
}

.editor .user-editor > * {
    align-self: flex-start;
}

.editor .user-editor input:first-child {
    line-height:normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    text-shadow: 1px 1px 1px black;
}

.editor .user-editor ::placeholder {
    font-family: mouse;
    line-height:50px;
    color: #0075ff;
    letter-spacing: 2px;
}

.editor .user-editor .range-container {
    display: inline-block;
    width: 70px;
}

.editor .user-editor input[type=range] {
    cursor: pointer;
    -webkit-appearance: none;
    border-radius: 10px;
    width: 60px;
    height: 6px;
}

.editor .user-editor .color {
    position: relative;
    display: inline-block;
}

.editor .user-editor button, a {
    width: 40px;
    height: 40px;
    color: #0075ff;
    cursor: pointer;
}

.editor .user-editor .download {
    grid-row: 5;
}
.editor .user-editor .share {
    grid-row: 5;
    grid-column: 2;
}

input[type="color"] {
    position: absolute;
    cursor: pointer;
	-webkit-appearance: none;
	border: none;
	width: 32px;
	height: 32px;
    opacity: 0;
    left: 0;
    top: 0;
    width: 100%;
}

.canvas-bg {
    position: fixed;
    z-index: -1;
    inset: 0;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s;
}

canvas {
    border-radius: 40px;
}