.editor {
    margin-block-start: 5rem;
    padding: 20px;
    justify-content: center;
}

.editor .user-editor {
    margin-inline-start: 1.875rem;
}
.editor .user-editor > *:not(:first-child, span) {
    margin-block-start: 20px;
}

.editor .user-editor > * {
    align-self: flex-start;
}

.editor .user-editor input:first-child {
    width: 250px;
    height: 50px;
    line-height:normal;
    font-family: kid;
    font-size: 1.5rem;
}

::placeholder {
    font-family: mouse;
    line-height:50px;
    color: #a3242b;
}

canvas {
    border-radius: 40px;

}