header {
    border-bottom: 5px solid wheat;
    background-color: #a3242b;
}

.header-container {
    height: 100%;
}

header .header-container .logo {
    cursor: pointer;
}

header .header-container .logo .logo-text > * {
    margin: 0;
}

header .header-container .logo .logo-text h5 {
    font-size: 1em;
}


header .header-container .logo h2 {
    font-family: mouse;
    color: whitesmoke;
    text-shadow: -8px -4px 2px #000000;
    padding-inline-start: 1.25rem;
    letter-spacing: 0.35rem;
}

header .header-container .logo h2 span {
    color: wheat;
}